  
nav {
  background: #c5c6d0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #3f3f4e;
}

.Home{
    text-align: center;
    color: #3f3f4e;
}


footer {
  background: #c5c6d0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-top: 1em;
  text-align: center;
  color: #3f3f4e;
}