nav {
  background: #c5c6d0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #3f3f4e;
}

.Home {
  text-align: center;
  color: #3f3f4e;
}

.four-O-four {
  text-align: center;
  color: #3f3f4e;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
  text-align: justify;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid grey;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #c5c6d5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  background-color: #c5c6d0;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

.card {
  background-color: #dfdfdf;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1em;
  width: 25rem;
  height: auto;
}

#cardImage {
  width: 150px;
  height: 150px;
  margin: 0em 0em 1em 0em;
}

#numberInput {
  width: 50px;
}

.green {
  background-color: green;
  width: 15px;
  height: 15px;
}

.red {
  background-color: red;
  width: 15px;
  height: 15px;
}

.price_stock {
  display: grid;
  grid-template-columns: auto auto;
}

.price_stock > h3 {
  position: relative;
  left: 20px;
  bottom: 15px;
}

.actions {
  text-align: right;
}

.New form {
  background: #c5c6d0;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.Show_child {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  background: #c5c6d0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

footer {
  background: #c5c6d0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-top: 1em;
  text-align: center;
  color: #3f3f4e;
  font-size: 12px;
}

.centered-heading {
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 100px;
}

#neverMind {
  display: flex;
  justify-content: center;
}

#neverMind button {
  width: 100px;
}

#submit {
  width: 100px;
}

@media screen and (max-width: 1060px) {
  .card {
    width: 380px;
  }
}

@media screen and (max-width: 1010px) {
  .card {
    width: 360px;
  }
}

@media screen and (max-width: 970px) {
  .card {
    width: 340px;
  }
}

@media screen and (max-width: 920px) {
  .card {
    width: 320px;
  }
}

@media screen and (max-width: 880px) {
  .card {
    width: 300px;
  }
}

@media screen and (max-width: 830px) {
  .card {
    width: 280px;
  }
}

@media screen and (max-width: 790px) {
  .card {
    width: 260px;
  }
}

@media screen and (max-width: 740px) {
  .card {
    width: 240px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    font-size: 13px;
  }
  footer {
    font-size: 10px;
  }
  .card {
    width: 220px;
  }
}

@media screen and (max-width: 670px) {
  .card {
    width: 200px;
  }
}

@media screen and (max-width: 620px) {
  .card {
    width: 190px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 300px;
  }
  .Show_child {
    flex-direction: column;
  }
  .buttons {
    display: flex;
  }
  .buttons button {
    width: 80px;
  }
}

@media screen and (max-width: 460px) {
  .card {
    width: 280px;
  }
}

@media screen and (max-width: 440px) {
  .card {
    width: 260px;
  }
}

@media screen and (max-width: 420px) {
  .card {
    width: 240px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 220px;
  }
  .buttons button {
    width: 70px;
  }
}

@media screen and (max-width: 370px) {
  .card {
    width: 200px;
  }
}

@media screen and (max-width: 350px) {
  .card {
    width: 180px;
  }
  .buttons button {
    width: 60px;
    font-size: 11px;
  }
  .centered-heading {
    font-size: 70%;
  }
}

@media screen and (max-width: 330px) {
  .card {
    width: 160px;
    font-size: 70%;
  }
  .card img {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 320px) {
  .buttons {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 300px) {
  nav {
    font-size: 10px;
  }
  footer {
    font-size: 7px;
  }
  .card {
    width: 140px;
    font-size: 65%;
  }
  .card img {
    width: 110px;
    height: 110px;
  }
}
